#huggingface_hub
autoflake
azureml-mlflow
beautifulsoup4
black # formatter
evaluate # tracking metric
flake8 # linter
flake8-bugbear # linter
google-generativeai # model
ipykernel # jupyter
ipywidgets # jupyter
isort # formatter
markdownify # llmops
mlflow
mypy
pip
pre-commit # precommit hook
python-dotenv # dotenv
requests
requests
rouge-score # tracking metric
textstat
tiktoken
torch
transformers
yamlfmt # precommit hook
# azure-ai-ml
