#huggingface_hub
autoflake
azureml-mlflow
beautifulsoup4
black
evaluate
flake8
flake8-bugbear
google-generativeai
ipykernel
ipywidgets
isort
langchain
langchain-community
langchain-google-genai
markdownify
mlflow
mypy
pip
pre-commit
pytest
pytest-docker
python-dotenv
python-dotenv
requests
requests
rouge-score
textstat
tiktoken
torch
transformers
yamlfmt
